# Directory Settings
UPLOAD_DIR=uploads
OUTPUT_DIR=outputs
FACEFUSION_PATH=facefusion.py

# Service Configuration
SERVICE_HOST=0.0.0.0
SERVICE_PORT=9999
RAY_ADDRESS=auto

# Processing Settings
EXECUTION_PROVIDER=cuda

# Log Settings
LOG_LEVEL=DEBUG
